body {
    background-color: bisque;
    font-family: "Cabin", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-variation-settings:"wdth" 100;
    text-align: justify;
}

.overflow {
    border: 2px solid blue;
    text-align: justify;
    max-width: 100%;
    max-height: 100px;
    overflow: scroll;
    background: blueviolet;
    box-sizing: border-box; 
    z-index: 10;      
}

p {
    background-color: rgb(0, 255, 115);
    border: 2px solid red;
    color: aliceblue;
    text-align: center;
    padding: 10px;
    width: 25%;
    position: sticky; 
    top: 100px;
    box-sizing: border-box;
}

.left {
    float: left;
}

.right {
    float: right;
}

h1 {
    color: blue;
    padding: 200px 0px;
    width: 100%;
    text-align: center;
    position: sticky; 
    top: 100px;
    z-index: -1;
}

h2,h3 {
    padding: 50px;
    width: 50%;
    text-align: center;
    position: sticky; 
    top: 100px;
    display: inline-block;
    box-sizing: border-box; 
}

h2 {
    color: rgb(255, 166, 0);
    float: left;
    padding: 51px;
}

h3 {
    color: rgb(102, 255, 0);
    float: right;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
    box-sizing: border-box;       
}

a {
    padding: 25px 0px 150px 45%;
}

.material-symbols-outlined {
    color: rgb(255, 0, 170);
    font-variation-settings:
    'FILL' 0,
    'wght' 400,
    'GRAD' 0,
    'opsz' 24
}

.list {
    background-color: rgb(225, 100, 237); 
    height: 2000px
}

section > span  {
    background-color: rgb(229, 255, 0);
    top: 100px;
    position: sticky;
    color: blue;
    width: 100%;
    padding: 80px;
    display: inline-block;
    box-sizing: border-box;
}

.bottom {
    background-color: rgb(225, 100, 237);
    height: 200px;
}
